---
import Form from "../components/Form.astro";
import Newsshelf from "../components/Newsshelf.astro";
import Productshelf from "../components/Productshelf.astro";
import TestimonailsSection from "../components/TestimonailsSection.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/bah6hne.css" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/julius"> Julius</a>
    <a href="/magnus"> magnus</a>
    <header>
      <nav>
        <h3>OMADA WINE & DELI</h3>
      </nav>
      <div class="herogrid">
        <img src="../images/hero.png" alt="" />
        <div>
          <h1>OMADA WINE & DELI</h1>
          <h3>ØSTERBRO</h3>
        </div>
      </div>
    </header>
    <main>
      <Newsshelf />
      <Productshelf />
      <TestimonailsSection />
      <Form />
    </main>
    <section>
      <div class="img_con"></div>
    </section>
  </body>
</html>

<style>
  nav {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
  }
  nav h3 {
    padding-block: 1rem;
    margin-left: 1rem;
  }
</style>
