---
import Form from "../components/Form.astro";
import Map from "../components/Map.astro";
import Newsshelf from "../components/Newsshelf.astro";
import Productshelf from "../components/Productshelf.astro";
import TestimonailsSection from "../components/TestimonailsSection.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/bah6hne.css" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/julius"> Julius</a>
    <a href="/magnus"> magnus</a>
    <header>
      <nav>
        <h3>OMADA WINE & DELI</h3>
      </nav>
      <div class="herogrid">
        <div class="imgcon">
          <img class="heroimg" src="../images/hero.svg" alt="" />
        </div>
        <div class="herotxt">
          <h1>OMADA WINE & DELI</h1>
          <div class="easter">
            <div class="line"></div>
            <h3>ØSTERBRO</h3>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <Newsshelf />
      <Productshelf />
      <TestimonailsSection />
      <Form />
      <Map />
    </main>
  </body>
</html>

<style>
  nav {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
  }
  nav h3 {
    padding-block: 1rem;
    margin-left: 1rem;
  }
  .herogrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 35rem;
    overflow: hidden;
  }
  .heroimg {
  }
  .herotxt {
    grid-column: 1/4;
    grid-row: 1/4;
    place-self: center;
    color: var(--secondarycolor);
  }
  .herotxt h3 {
    text-align: center;
  }
  .line {
    border-top: solid 1.5px white;
    width: 100%;
    margin-top: 0.5rem;
    margin-inline: 0.5rem;
    width: 100%;
  }
  .imgcon {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .easter {
    display: flex;
  }
</style>
