---
import Form from "../components/Form.astro";
import Newsshelf from "../components/Newsshelf.astro";
import Productshelf from "../components/Productshelf.astro";
import TestimonailsSection from "../components/TestimonailsSection.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/bah6hne.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/julius"> Julius</a>
    <a href="/magnus"> magnus</a>
    <header>
      <nav>
        <h3>OMADA WINE & DELI</h3>
        <div class="social">
          <a href="https://www.facebook.com/magnus.the.m/" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/magnus_mans/" class="fa fa-instagram"></a>
          <a href="https://omada.wine/" class="fa"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
              ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path d="M393.4 9.4c12.5-12.5 32.8-12.5 45.3 0l64 64c12.5 12.5 12.5 32.8 0 45.3c-11.8 11.8-30.7 12.5-43.2 1.9l-9.5 9.5-48.8 48.8c-9.2 9.2-11.5 22.9-8.6 35.6c9.4 40.9-1.9 85.6-33.8 117.5L197.3 493.3c-25 25-65.5 25-90.5 0l-88-88c-25-25-25-65.5 0-90.5L180.2 153.3c31.9-31.9 76.6-43.1 117.5-33.8c12.6 2.9 26.4 .5 35.5-8.6l48.8-48.8 9.5-9.5c-10.6-12.6-10-31.4 1.9-43.2zM99.3 347.3l65.4 65.4c6.2 6.2 16.4 6.2 22.6 0l97.4-97.4c6.2-6.2 6.2-16.4 0-22.6l-65.4-65.4c-6.2-6.2-16.4-6.2-22.6 0L99.3 324.7c-6.2 6.2-6.2 16.4 0 22.6z" fill="white"></path></svg
            ></a
          >
        </div>
      </nav>
      <div class="herogrid">
        <div class="imgcon">
          <img class="heroimg" src="../images/hero.svg" alt="" />
        </div>
        <div class="herotxt">
          <h1>OMADA WINE & DELI</h1>
          <div class="easter">
            <div class="line"></div>
            <h3>ØSTERBRO</h3>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <Newsshelf />
      <Productshelf />
      <TestimonailsSection />
      <Form />
    </main>
  </body>
</html>

<style>
  nav {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav h3 {
    padding-block: 1rem;
    margin-left: 1rem;
  }
  .herogrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 35rem;
    overflow: hidden;
  }

  .herotxt {
    grid-column: 1/4;
    grid-row: 1/4;
    place-self: center;
    color: var(--secondarycolor);
  }
  .herotxt h3 {
    text-align: center;
  }
  .line {
    border-top: solid 1.5px white;
    width: 100%;
    margin-top: 0.5rem;
    margin-inline: 0.5rem;
  }
  .imgcon {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .easter {
    display: flex;
  }
  .fa-instagram {
    background: transparent;
    color: white;
  }
  .fa-facebook {
    background: transparent;
    color: white;
  }

  .fa-magnifying-glass {
    background: transparent;
    color: white;
  }
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
</style>
