---
import Form from "../components/Form.astro";
import Map from "../components/Map.astro";
import Newsshelf from "../components/Newsshelf.astro";
import Productshelf from "../components/Productshelf.astro";
import TestimonailsSection from "../components/TestimonailsSection.astro";
import "../styles/general.css";

const url = "https://vvjmazqfuruokrbpmhso.supabase.co/rest/v1/indhold";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2am1henFmdXJ1b2tyYnBtaHNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE4OTc1MjcsImV4cCI6MTk5NzQ3MzUyN30.YlMWJwKf5ZiuYgrztptMIkJOiiSNUMiGzU40kWk80nc";

const respons = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const data = await respons.json();
console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/bah6hne.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/julius"> Julius</a>
    <a href="/magnus"> magnus</a>
    <header>
      <nav>
        <h3>OMADA WINE & DELI</h3>
        <div class="social">
          <a href="https://www.facebook.com/magnus.the.m/" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/magnus_mans/" class="fa fa-instagram"></a>
          <a href="https://omada.wine/" class="fa"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="white"
              ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path d="M64 0C47.4 0 33.5 12.8 32.1 29.3l-14 168.4c-6 72 42.5 135.2 109.9 150.6V448H80c-17.7 0-32 14.3-32 32s14.3 32 32 32h80 80c17.7 0 32-14.3 32-32s-14.3-32-32-32H192V348.4c67.4-15.4 115.9-78.6 109.9-150.6l-14-168.4C286.5 12.8 272.6 0 256 0H64zM81.9 203.1L93.4 64H226.6l11.6 139.1C242 248.8 205.9 288 160 288s-82-39.2-78.1-84.9z"></path></svg
            ></a
          >
        </div>
      </nav>
      <div class="herogrid">
        <div class="imgcon">
          <img class="heroimg" src="../images/hero.svg" alt="" />
        </div>
        <div class="herotxt">
          <h1>OMADA WINE & DELI</h1>
          <div class="easter">
            <div class="line"></div>
            <h3>ØSTERBRO</h3>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <Newsshelf />
      <Productshelf />
      <TestimonailsSection />
      <Form />
      <Map />
    </main>
    <footer>
      <div class="geninfo">
        <h3>Åbningstider</h3>
        <p>Mandag - Lukket</p>
        <p>Tirdag - Lukket</p>
        <p>Onsdag - 11-20</p>
        <p>Torsdag - 11-20</p>
        <p>Fredag - 11-20</p>
        <p>Lørdag - 11-20</p>
        <p>Søndag - 11-20</p>
      </div>
      <div class="contact">
        <h3>Kontakt os her</h3>
        <p>Mail - hello@omada.wine</p>
      </div>
      <div class="socialfooter">
        <h3>Sociale medier</h3>
        <div>
          <a href="https://www.facebook.com/omada.wine" class="fa fa-facebook"></a>
        </div>
        <div>
          <a href="https://www.instagram.com/omada.wine/" class="fa fa-instagram"></a>
        </div>
        <div>
          <a href="https://omada.wine/" class="fa"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="var(--secondarycolor)"
              ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path d="M64 0C47.4 0 33.5 12.8 32.1 29.3l-14 168.4c-6 72 42.5 135.2 109.9 150.6V448H80c-17.7 0-32 14.3-32 32s14.3 32 32 32h80 80c17.7 0 32-14.3 32-32s-14.3-32-32-32H192V348.4c67.4-15.4 115.9-78.6 109.9-150.6l-14-168.4C286.5 12.8 272.6 0 256 0H64zM81.9 203.1L93.4 64H226.6l11.6 139.1C242 248.8 205.9 288 160 288s-82-39.2-78.1-84.9z"></path></svg
            ></a
          >
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  nav {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav h3 {
    padding-block: 1rem;
    margin-left: 1rem;
  }
  .herogrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 35rem;
    overflow: hidden;
  }
  footer {
    background-color: var(--primarycolor);
    display: flex;
    justify-content: space-between;
    color: var(--secondarycolor);
    padding: 1rem;
    gap: 1rem;
  }
  .socialfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .herotxt {
    grid-column: 1/4;
    grid-row: 1/4;
    place-self: center;
    color: var(--secondarycolor);
  }
  .herotxt h3 {
    text-align: center;
  }

  .line {
    border-top: solid 1.5px white;
    width: 100%;
    margin-top: 0.4rem;
    margin-inline: 0.5rem;
    width: 100%;
  }
  .imgcon {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .easter {
    display: flex;
  }
  svg {
    width: 11px;
  }
  .fa-instagram {
    background: transparent;
    color: white;
  }
  .fa-facebook {
    background: transparent;
    color: white;
  }

  .fa-magnifying-glass {
    background: transparent;
    color: white;
  }
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
  @media (max-width: 900px) {
    .herotxt h1 {
      font-size: 4rem;
    }
  }
  @media (max-width: 768px) {
    nav h3 {
      font-size: 1rem;
    }
    .herotxt h1 {
      font-size: 2rem;
    }
    .easter h3 {
      font-size: 1rem;
    }
    .herogrid {
      height: 15rem;
    }
    footer h3 {
      font-size: 1rem;
    }
  }
</style>
