---
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/bah6hne.css" />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <nav>
        <h3>OMADA WINE AND DELI</h3>
      </nav>
    </header>
    <a href="/julius"> Julius</a>
    <a href="/magnus"> magnus</a>
    <section>
      <div class="img_con">
        <img src=" https: source.unsplash.com random " alt="" />
      </div>
    </section>
  </body>
</html>

<style>
  nav {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
  }
  nav h3 {
    padding-block: 1rem;
    margin-left: 1rem;
  }
</style>
