---
import Knap from "./knap.astro";
---

<section>
  <h2>Fortæl os hvad du synes</h2>
  <form>
    <div class="loading hide" id="loading">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
      <lottie-player id="mylottie" src="https://lottie.host/0954720d-bb8f-4c6b-af6d-6efa3b368ea9/QQUIkYz543.json" autoplay></lottie-player>
      <h2 class="dontdisplay" id="tak">Tak for din feedback!</h2>
    </div>
    <input type="text" name="firstname" required placeholder="Fornavn*" />
    <input type="text" name="lastname" required placeholder="Efternavn*" />
    <input type="text" name="email" placeholder="minmail@gmail.com" />
    <input class="all" type="text" name="overskrift" placeholder="Overskrift*" />
    <input class="all" type="text" name="text" placeholder="Tekst*" />

    <!-- <span class="textarea" role="textbox" contenteditable></span> -->

    <button>Send</button>
  </form>
</section>
<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h2 {
    text-align: left;
    margin-bottom: 1rem;
    color: var(--primarycolor);
  }

  input {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    background-color: none;
    border: 0.1px solid var(--primarycolor);
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: black;
  }
  .textarea {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    background-color: white;
    min-height: 300px;
    border: 0.1px solid var(--primarycolor);
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: black;
    grid-column: 1/4;
  }

  input::placeholder {
    color: black;
    opacity: 0.7; /* Firefox */
  }
  .textarea[contenteditable]:empty::before {
    content: "Tekst*";
    color: black;
    opacity: 0.7; /* Firefox */
  }

  form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
    gap: 0.5rem;
    overflow: hidden;
    position: relative;
  }
  .all {
    grid-column: span 3;
  }
  .tekst {
    text-align: start;
  }

  button {
    margin-right: 1rem;
    background-color: var(--primarycolor);
    border: 1px solid var(--secondarycolor);
    color: var(--secondarycolor);
    font-family: aviano-sans, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    font-style: normal;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: max-content;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  button:hover {
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
    border-color: var(--primarycolor);
    transition: 0.2s ease-in-out;
  }

  .loading {
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: var(--primarycolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .hide {
    display: none;
  }

  .dontdisplay {
    opacity: 0%;
    transition: 0.4s;
  }
  .display {
    opacity: 100%;
    transition: 0.4s;
  }
  .loading h2 {
    color: var(--secondarycolor);
    transition: 0.4s;
  }
  #mylottie {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 768px) {
    section {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;

      gap: 1rem;
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    textarea {
      min-height: 200px;
    }
    button {
      background-color: var(--primarycolor);
      border: 1px solid var(--secondarycolor);
      color: var(--secondarycolor);
      font-family: aviano-sans, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      font-style: normal;
      height: 100%;
      width: 100%;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
  }
</style>

<script>
  const url = "https://vvjmazqfuruokrbpmhso.supabase.co/rest/v1/testimonials";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2am1henFmdXJ1b2tyYnBtaHNvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4MTg5NzUyNywiZXhwIjoxOTk3NDczNTI3fQ.QWRntyBVW2JVPQQ0e8hnIS7ZBHJLKDatB41zxZHxJlk";

  const tak = document.getElementById("tak");
  const formLoad = document.getElementById("loading");
  const form = document.querySelector("form");
  form.addEventListener("submit", sendForm);

  function sendForm(event) {
    event.preventDefault();
    const formData = form.elements;
    let name = formData.firstname.value + " " + formData.lastname.value;
    let headline = formData.overskrift.value;
    let text = formData.text.value;

    console.log(formData);
    fetch(url, {
      method: "POST",
      headers: {
        apikey: key,
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name, headline, text }),
    });

    formLoad.classList.remove("hide");

    setTimeout(function () {
      tak.classList.remove("dontdisplay");
    }, 2300);

    form.reset();
  }
</script>
