---
---

<section class="loadscreen" id="load">
  <div class="animation">
    <svg id="loader" xmlns="http://www.w3.org/2000/svg" width="337.5" height="337.5" viewBox="0 0 337.5 337.5"
      ><defs
        ><style>
          .cls-1 {
            fill: #fffefa;
          }
        </style></defs
      ><g id="Layer_1-2"
        ><path
          class="cls-1"
          d="m194.11,87.18c-9.9-3.07-15.07-9.9-12.86-17.01,2.19-7.06,10.34-9.8,20.23-6.73,9.9,3.07,15.15,9.93,12.94,17.03-2.21,7.1-10.13,9.87-20.32,6.7Zm6.13-19.75c-6.65-2.07-12.49-.68-14.03,4.29-1.56,5.01,2.51,9.47,9.12,11.52,6.65,2.07,12.57.71,14.12-4.3,1.54-4.97-2.6-9.45-9.21-11.51Z"
        ></path><path class="cls-1" d="m242.06,121.08l7.02-14.57-19.08,2.73,3.38-18.95-14.8,6.54-3.65-3.77,24.25-10.06-3.69,20.92,21.06-2.97-10.85,23.91-3.65-3.77Z"></path><path
          class="cls-1"
          d="m257.48,148.69l-4.47-14.28-5.51-1.47-1.63-5.21,28.09,7.97-18.53,22.56-1.63-5.21,3.68-4.35Zm.29-13.02l2.89,9.23,5.82-6.87-8.72-2.36Z"></path><path
          class="cls-1"
          d="m255.68,164.08l23.84,2.72-1.66,14.61c-1.08,9.44-5.27,15.54-13.73,14.57-8.5-.97-11.18-7.85-10.1-17.29l1.66-14.61Zm2.43,15.12c-.62,5.47.49,10.92,6.6,11.61,6.07.69,8.42-4.36,9.04-9.83l1.11-9.78-15.63-1.78-1.11,9.78Z"
        ></path><path class="cls-1" d="m243.78,220.2l7.43-12.99-2.66-5.04,2.71-4.74,13.26,26.01-29.14,1.75,2.71-4.74,5.7-.26Zm9.75-8.64l-4.8,8.4,9-.4-4.19-8Z"></path><path
          class="cls-1"
          d="m212.84,259.76l.86-17.86,22.34,16.31-4.95,2.4-13.43-10.55-.82,17.93-14.25-10.58-.33,17.17-4.95,2.4,1.03-27.64,14.51,10.41Z"></path><path
          class="cls-1"
          d="m179.87,253.91l2.41,23.87-4.88.49-2.41-23.87,4.88-.49Z"></path><path
          class="cls-1"
          d="m156.59,270.22l3.35-15.55,4.79,1.03-5.14,23.88-19.91-21.35-3.42,15.89-4.79-1.03,5.14-23.88,19.98,21.01Z"></path><path
          class="cls-1"
          d="m127.91,245.12l-14.01,19.48-19.72-14.19,2.39-3.32,15.71,11.3,3.21-4.47-12.98-9.34,2.41-3.35,12.98,9.34,3.59-4.99-15.71-11.3,2.41-3.35,19.72,14.19Z"></path><path
          class="cls-1"
          d="m83.87,193.91c2.82,2.01,4.83,4.76,6.41,8.62,2.67,6.53,2.41,12.02-1.96,13.81-2.11.86-4.38.54-7.42-1.1-.86,1.65-1.57,2.64-3.2,3.31-4.46,1.83-8.32-1.47-10.78-7.48-.85-2.07-1.88-5.27-2.01-7.4l3.82-1.56c.32,2.38.86,4.71,1.89,7.22,1.53,3.74,3.39,5.44,5.02,4.77,1.87-.77,2.87-4.57,3.71-17.04-1.23-.29-2.33-.25-3.49.22-.56.23-1.12.55-1.77,1l-1.65-4.02c.95-.62,1.86-1.13,2.7-1.47,1.59-.65,3.22-.76,5.04-.3l.17-2.21,3.86-1.58-.33,5.2Zm-1.49,17.47c1.72.92,2.48,1.07,3.24.77,1.87-.77,2.58-4.03.74-8.53-.81-1.99-1.91-3.54-3.1-4.73-.17,4.58-.14,8.28-.88,12.49Z"
        ></path><path
          class="cls-1"
          d="m81.76,165.55l-23.5-4.85,2.97-14.4c1.92-9.31,6.65-15,14.99-13.28,8.38,1.73,10.43,8.82,8.51,18.13l-2.97,14.4Zm-1.06-15.28c1.11-5.39.5-10.92-5.53-12.16-5.98-1.23-8.77,3.59-9.89,8.98l-1.99,9.64,15.41,3.18,1.99-9.64Z"
        ></path><path class="cls-1" d="m92.1,128.44l-19.58-13.87,14.05-19.83,3.33,2.36-11.19,15.79,4.49,3.18,9.25-13.05,3.37,2.39-9.25,13.05,5.02,3.55,11.19-15.79,3.37,2.39-14.04,19.82Z"></path><path
          class="cls-1"
          d="m112.46,103.19l-13.46-19.86,4.06-2.75,11.14,16.44,14.84-10.05,2.32,3.42-18.9,12.81Z"></path><path class="cls-1" d="m138.68,88.3l-7.74-22.72,4.64-1.58,7.74,22.72-4.64,1.58Z"></path></g
      ></svg
    >
  </div>
</section>

<style>
  .loadscreen {
    background-color: var(--primarycolor);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  svg {
    fill: var(--secondarycolor);
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  .done {
    transform: translatey(-100%);
    transform-origin: top;
    transition: 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .gone {
    opacity: 0;

    transition: 2s ease;
  }
  .goned {
    opacity: 0;
    transition: 1.5s ease;
  }

  #loader {
    width: 400px;
    height: 400px;
  }
</style>

<script>
  const loadingScreen = document.getElementById("load");
  const loader = document.getElementById("loader");

  // hide the loading screen after a delay of 4 seconds

  setTimeout(function () {
    loadingScreen.classList.add("done");
    loader.classList.add("gone");
  }, 2500);
</script>
