---
import Knap from "./knap.astro";
---

<div class="card">
  <div class="img_container">
    <img src="https://source.unsplash.com/random" alt="" />
  </div>
  <div class="content">
    <div class="left">
      <h2>Nye produkter</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error aliquid ut sit distinctio quisquam unde quasi praesentium. Dolore magnam reprehenderit beatae quasi enim, quas quae
        exercitationem assumenda pariatur, voluptatum ipsa?
      </p>
    </div>
    <div class="right">
      <Knap text="Se mere" />
    </div>
  </div>
</div>

<style>
  .card {
    background-color: var(--primarycolor);
    height: 550px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .img_container {
    width: 100%;
    max-height: 450px;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
    width: auto;
    height: auto;
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }
  h2,
  p {
    color: var(--secondarycolor);
    margin-left: 1rem;
  }

  .right {
    margin-top: auto;
  }
</style>
