---
import Knap from "./knap.astro";
---

<div class="card">
  <div class="img_container">
    <img src="https://source.unsplash.com/random" alt="" />
  </div>
  <div class="content">
    <div class="left">
      <div>
        <h2>Nye produkter</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error aliquid ut sit distinctio quisquam unde quasi praesentium. Dolore magnam reprehenderit beatae quasi enim, quas quae
          exercitationem assumenda pariatur, voluptatum ipsa?
        </p>
      </div>
    </div>
    <div class="right">
      <Knap text="Se mere" />
    </div>
  </div>
</div>

<style>
  .card {
    background-color: var(--primarycolor);
    height: 600px;
    aspect-ratio: 80 / 50;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }

  .img_container {
    width: 100%;
    max-height: 550px;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
    width: auto;
    height: auto;
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }
  h2,
  p {
    color: var(--secondarycolor);
    margin-left: 1rem;
  }

  p {
    margin-right: 20rem;
  }
  .right {
    margin-top: auto;
  }
</style>
