---
import Knap from "./knap.astro";
---

<section>
  <div class="imgcon">
    <img src="../images/kylling.webp" alt="" />
  </div>
  <div class="indhold">
    <h1>Produkt</h1>
    <p>noget om produktet</p>
    <div class="knap">
      <Knap text="Se mere" />
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    background-color: var(--primarycolor);
  }
  .indhold {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .knap {
    align-self: flex-end;
  }
</style>
