---
import Knap from "./knap.astro";

---

<div class="product">
    <div class="img_container">
    <img src="https://source.unsplash.com/random/" alt="">
    </div>
    <section>
        <h3>lorem ipsum</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus dolorum praesentium sed quod. Magnam architecto numquam iure, a illum ab praesentium optio fugiat laboriosam cumque aperiam consequatur dolor voluptatibus odit. </p>
        <div class="knap">
        <Knap text="Se mere"></Knap>
        </div>
    </section>
</div>

<style>
   
  
    section{
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
        display: flex;
        flex-direction: column;
    }
 section *{
    margin-block: 0.2rem;
 }
 .img_container{
    
 }
    img{
        height: 100%;
    }
    .product{
        display: grid;
        grid-template-rows:2fr 1fr ;
        height: 310px;
        width: 240px;
    }
  
    .knap{
        align-self: flex-end;
    }
   
</style>