---
import Knap from "./knap.astro";
---

<div class="product">
  <div>
    <img src="https://source.unsplash.com/random/" alt="" />
  </div>
  <section>
    <h3>lorem ipsum</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus dolorum praesentium sed quod. Magnam architecto numquam iure, a illum ab praesentium optio fugiat laboriosam cumque aperiam consequatur dolor voluptatibus odit.</p>
    <div class="knap">
      <Knap text="Se mere" />
    </div>
  </section>
</div>

<style>
  section {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    display: flex;
    flex-direction: column;
  }
  section * {
    margin-left: 0.5rem;
    padding: 0.5rem;
  }

  img {
    height: 100%;
  }
  .product {
    width: 18rem;
    min-width: 18rem;
  }

  .knap {
    align-self: flex-end;
    margin-bottom: 0.5rem;
  }
</style>
