---

---

<div class="product">
    <img src="https://source.unsplash.com/random/" alt="">
    <section>
        <h3>lorem ipsum</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed eaque necessitatibus possimus fugiat, vitae eos ipsum enim error. Sed veritatis magnam provident recusandae sint quos inventore, molestias dolorem ex optio!</p>
        <button>Se mere</button>
    </section>
</div>

<style>
    section{
        background-color: red;
    }
    .product{
        width: 10rem;
        height: 15rem;
    }
    img{
        width: 100%;
    }
</style>