---

---

<div class="product">
    <div>
    <img src="https://source.unsplash.com/random/" alt="">
    </div>
    <section>
        <h3>lorem ipsum</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed eaque necessitatibus possimus fugiat, vitae eos ipsum enim error. Sed veritatis magnam provident recusandae sint quos inventore, molestias dolorem ex optio!</p>
        <button>Se mere</button>
    </section>
</div>

<style>
    section{
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
        display: flex;
        flex-direction: column;

    }
    section *{
       
    }
    .product{
        display: grid;
        grid-template-rows:2fr 1fr ;
        height: 200px;
        width: 200px;
    }
  
    button{
        align-self: flex-end;
    }
</style>