---
import Knap from "./knap.astro";

const { header, text, img, date, price, type, id } = Astro.props;
---

<div class="product">
  <div>
    <img src={img} alt="" />
  </div>
  <section>
    <h3>{header}</h3>
    <p>
      {text}
    </p>
    <div class="knap">
      <Knap link={id} text="Se mere" />
    </div>
  </section>
</div>

<style>
  section {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    display: flex;
    flex-direction: column;
  }
  section * {
    margin-left: 0.5rem;
    padding: 0.5rem;
  }

  img {
    height: 100%;
  }
  .product {
    width: 18rem;
    min-width: 18rem;
  }

  .knap {
    align-self: flex-end;
    margin-bottom: 0.5rem;
  }
</style>
